<%- include ('../partials/header'); -%>
<div style="flex-direction: row;">
<section  id ="recruiter-section" class="btn btn-secondary btn-lg btn-block">
    <button class="bg-warning" id="recruiter-btn"><a href="/create_recruiter_account">compte recruteur</a></button>
        <button class="bg-warning"><a href="/connection">se connecter</a></button>
</section>

<section  class="btn btn-secondary btn-lg btn-block" id="developper">
    <button id="developper-btn" class="bg-warning"><a href="">compte developper</a> </button> 
        <button class="bg-warning"><a href="/connection">se connecter</a></button>   
</section>
</divstyle="flex-flow:row no-wrap">

<%- include ('../partials/footer'); -%>


