
<%- include ('../partials/header'); -%>
    <form  method="POST"action="http://localhost:4000/connection">
      <h1>CONNECTION COMPTE RECRUTEUR</h1>
       <label for="email">Adresse mail</label>
            <input type="text" class="form-control" name="email" id="email" 
            pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$"
            placeholder="exemple@exemple.com" maxlength="255" title="Veuillez saisir une adresse mail valide">
         <label for="password">Mot de passe</label>
            <input type="password" class="form-control" name="password" id="password"
            pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z])\w{6,}"
            title="Votre mot de passe doit contenir au moins 8 caractères dont une majuscule, une minuscule et un chiffe."
            placeholder="password" maxlength="255">
      </form> 
            <button type="submit" class="btn btn-success"><a href="/recruiter">Se connecter</a> </button>
            <button class="btn btn-danger"><a href="/" >Précédent</a> </button>  
<%- include ('../partials/footer'); -%>
   
       
  

