<%- include ('../partials/header'); -%>
<h2>Création d'un compte recruteur</h2>
    <form action="." class="form-group" method="POST">
        <label for="nom">Nom</label>
            <input required type="text" 
                pattern="[a-zA-Z0-9_-]{3,16}" class="form-control" name="nom" id="nom"
                placeholder="Saisissez votre nom" title="Le nom doit contenir entre 3 et 16 lettres ou chiffres"
                maxlength="255">
        <label for="prenom">Prénom</label>
            <input  required type="text" 
                pattern="[a-zA-Z0-9_-]{3,16}" class="form-control" name="prenom" id="prenom"
                placeholder="Saisissez votre prénom" title="Le prénom doit contenir entre 3 et 16 lettres ou chiffres"
                maxlength="255">
        <label for="email">Adresse mail</label>
            <input required type="text" class="form-control" name="email" id="email" 
                pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$"
                placeholder="exemple@exemple.com" maxlength="255" title="Veuillez saisir une adresse mail valide">
        
        <label for="entreprise">Entreprise</label>
            <input required type="text" 
                pattern="[a-zA-Z0-9_-]{2,30}" class="form-control" name="entreprise" id="entreprise"
                placeholder="Saisissez votre nom d'entreprise" title="Votre nom d'entreprise doit contenir entre 2 et 30 
                lettres ou chiffres"
        maxlength="255">
        <label for="password">Mot de passe</label>
            <input required type="password" class="form-control" name="password" id="password"
                pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z])\w{6,}"
                title="Votre mot de passe doit contenir au moins 8 caractères dont une majuscule, une minuscule et
                un chiffe."
                placeholder="password" maxlength="255">
        
                <button type="submit" class="btn btn-success">Confirmer </button>
                <button href="/" class="btn btn-danger">Précédent </button>
    </form>
<%- include ('../partials/footer'); -%>