
<%- include ('../partials/header'); -%>
    <form method="POST" action="http://localhost:4000/createExigenceTheme">
        <h1>CREER UN THEME D'EXIGENCE</h1>
         <label for="Themename">nom du Theme:</label>
            <input name="Themename" placeholder="nom du thème" type="text">
             <h2>SELECTIONNEZ UNE TECHNO</h2>
              <section class="btn-techno">
                <div class="add-del">
                    <label     for="techno">choisissez votre techno</label>
                      <select type="number" name="techno">
                        <option value="1">html</option>
                        <option value="2">css</option>
                        <option value="3">javascript</option>
                        <option value="4">sql</option>
                        <option value="5">php</option>
                        <option value="6">nodejs</option>
                        <option value="7">jquery</option>
                        <option value="8">scss</option>
                        <option value="9">worpdress</option>
                        <option value="10">jumla</option>
                        <option value="11">wordpress</option>
                        <option value="12">java</option>
                        <option value="13">python</option>
                    </select>
                   <input    name="niveau" type="number" placeholder="Niveau">
                  <button onclick="addElement()" class="btn btn-warning">ajouter </button>
                 <h2>AJOUTER UNE TECHNO</h2>
                 <label for="add-techno">nom de techno:</label>
                  <input name="add-techno" placeholder="entrez un nom de techno" type="text">
                    <!-- <progress name="valeur"id="technoBar" value="" max="10">  </progress> -->
                  <button onclick="" class="bg-warning">+</button>
                  <button onclick="" class="bg-warning">-</button>
                </div>
                <button type="submit" class="btn btn-success">Confirmer </button>
                <button class="btn btn-danger"><a href="/recruiter">Précédent</a> </button>
             </section>
    </form>
<%- include ('../partials/footer'); -%>