<%- include ('../partials/header'); -%>
<body>
    <h1>WELCOME </h1>
    <section id="annonce" class="btn btn-secondary btn-lg btn-block">
        <div class="annonce">
            <button class="bg-warning">Mes Annonces</button>
            <button class="bg-warning">Creer</button>
        </div>
    </section>
    <section id="exigence" class="btn btn-secondary btn-lg btn-block">
        <div class="exigence">
            <button class="bg-warning">Mes Exigences</button>
            <button class="bg-warning"><a href="/createExigenceTheme">Creer</a></button>
        </div>
    </section>
</body>
<%- include ('../partials/footer'); -%>